li {
  display: inline-block !important;
  list-style-type: none;
}

a {
  color: black;
  font-weight: bold;
  margin: 1rem;
  padding: 0.5rem;
  text-decoration: none;
}

button {
  margin: 0.5rem;
}
